<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndexPage</title>
</head>
<body>
    <table>
        <thead>
            <th>Sno</th>
            <th>Nmae</th>
            <th>Contact</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for row in datas %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{row.UNAME}}</td>
                <td>{{row.CONTACT}}</td>
                <td><a href='{{url_for("edit_user",uid=row.UID)}}'>EDIT</a></td>
                <td><a href='{{url_for("delete_user",uid=row.UID)}}'>Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>